<div class="about-section">
    <div class="text-about">
        <h2>Sobre La Parrilla Real</h2>
        <p>La Parrilla Real es un restaurante familiar, donde la tradición y el sabor se unen para brindarte una experiencia única. Con nuestros ingredientes frescos y recetas artesanales, garantizamos la mejor calidad en cada plato. Disfruta de carnes a la parrilla, pastas caseras, y mucho más en un ambiente cálido y acogedor. Ven a visitarnos y deja que el sabor hable por sí mismo.</p>
    </div>
    <div class="image-about">
        <img src="https://scontent.fgye30-1.fna.fbcdn.net/v/t39.30808-6/470130676_1652577288998080_975305277251740142_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeH8EnDy3EvhSPiyE74JZ9yo3y78JVmWn43fLvwlWZafjadbzbVn_SWmlOmUvXTvpvrSqk53b2Ket_kGkixH7Pnz&_nc_ohc=3_W2CL1DKCMQ7kNvgH8Ikoh&_nc_zt=23&_nc_ht=scontent.fgye30-1.fna&_nc_gid=AzHHa56N-8KA_4UzYXOwY2e&oh=00_AYAfOvvo96jQL_CJV2JeVN5C7x66XXr76gbQuWQwohLyyg&oe=67614AAA" alt="La Parrilla Real" class="img-fluid">
    </div>
</div>

