<div class="page">
  <div class="container">
    <app-sidebar></app-sidebar>
    <div class="content">
      <router-outlet></router-outlet>

      <div id="home" class="section">
        <p><app-home></app-home></p>
      </div>

      <div id="about" class="section">
        <p><app-about></app-about></p>
      </div>

      <div id="services" class="section">
        <p><app-services></app-services></p>
      </div>

      <div id="more" class="section">
        <p><app-more></app-more></p>
      </div>
    </div>
  </div>
  <div class="social-icons">
    <a href="https://www.facebook.com" target="_blank">
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook">
    </a>
    <a href="https://www.instagram.com" target="_blank">
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram">
    </a>
    <a href="https://www.twitter.com" target="_blank">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAAAAABXZoBIAAAA/0lEQVR4AbXPIazCMACE4d+L2qoZFEGSIGcRc/gJJB5XMzGJmK9EN0HMi+qaibkKVF1txdQe4g0YzPK5yyWXHL9TaPNQ89LojH87N1rbJcXkMF4Fk31UMrf34hm14KUeoQxGArALHTMuQD2cAWQfJXOpgTbksGr9ng8qluShJTPhyCdx63POg7rEim95ZyR68I1ggQpnCEGwyPicw6hZtPEGmnhkycqOio1zm6XuFtyw5XDXfGvuau0dXHzJp8pfBPuhIXO9ZK5ILUCdSvLYMpc6ASBtl3EaC97I4KaFaOCaBE9Zn5jUsVqR2vcTJZO1DdbGoZryVp94Ka/mQfE7f2T3df0WBhLDAAAAAElFTkSuQmCC" alt="Twitter">

    </a>
    <a href="https://wa.me/1234567890" target="_blank">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp">
    </a>
</div>
</div>

