<div class="sidebar d-flex flex-column align-items-center py-4">
  <div class="mb-4">
    <img
      src="https://scontent.fgye30-1.fna.fbcdn.net/v/t39.30808-6/470237374_1652576278998181_7405245015693003365_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeGp7UcQelOJ7cp6a4kjKaxnpqrOfHVEWtmmqs58dURa2b7cpqzG24RnzooIOa9aPTKw6x11xDs6kWtW0gINPhxU&_nc_ohc=k8eR2ptb76EQ7kNvgHKleCp&_nc_zt=23&_nc_ht=scontent.fgye30-1.fna&_nc_gid=Aa1fKNL_MNdU_8QkBgW5ahU&oh=00_AYCLXMAhgfek317gV_UaeIYYrjteFO9tR-2jjD9Dmip2Rw&oe=676148A4"
      alt="Logo"
      class="img-fluid"
      style="max-width: 150px;"
    />
  </div>
  <a href="#home" class="sidebar-link">Home</a>
  <a href="#about" class="sidebar-link">About</a>
  <a href="#services" class="sidebar-link">Services</a>
  <a href="#more" class="sidebar-link">More</a>

</div>
